<div class="landing">
  <h2>Welcome!</h2>

  <p>
    Nightli.es provides automatic nightly builds for <a href="https://travis-ci.org/">Travis CI</a>.
  </p>
  <p class="cta">
    <a class="btn btn-primary">Get Started</a>
  </p>
</div>
